<h1>Config</h1>
<p>No settings.rb file was found.  Let's set one up.</p>
<form method="POST">
	<input name="music_dir" type="text" placeholder="Music Directory">
	<input name="music_db" type="text" placeholder="Music DB Filename">
	<input type="submit" value="Save">
</form>