<!DOCTYPE html>
<head>
	<title>pitrax</title>
	<!--@TODO-->
	<!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>-->
	<link rel="stylesheet" href="/assets/css/global.css">
	<link rel="stylesheet" href="/assets/css/player.css">
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/underscore-min.js"></script>
	<script type="text/javascript" src="/assets/js/json2.js"></script>
	<script type="text/javascript" src="/assets/js/backbone-min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.color-2.0b1.min.js"></script>

	<script type="text/javascript" src="/assets/js/player.js"></script>

	<script type="text/javascript">
		_total = <%= total %>;
		_songs = <%= songs %>;
		_playlists = <%= playlists %>;
	</script>
</head>
<body>
	<header>
		<div id="album-color" class="album-color"></div>
		<img id="album-art" class="album-art" src="/assets/img/no-art.png"></img>
		<canvas id="album-canvas" class="album-canvas"></canvas>
		<hgroup>
			<h1 id="song-title" class="song-title"></h1>
			<h2 id="artist" class="artist"></h2>
		</hgroup>
		<audio id="audio"></audio>
		<div id="track-scrubber" class="scrubber track-scrubber">
			<div id="scrub-bar" class="scrub-bar">
				<div id="scrub-bar-progress" class="scrub-bar-progress"></div>
			</div>
			<div id="scrub-head" class="scrub-head"></div>
			<div id="scrub-end" class="scrub-end"></div>
		</div>
		<span id="time-remaining" class="time-remaining">2:12</span>
		<div id="controls" class="controls">
			<div id="prev-track-button" class="prev-track-button" role="button"></div>
			<div id="play-pause-button" class="play-pause-button paused" role="button"></div>
			<div id="next-track-button" class="next-track-button" role="button"></div>
			<div id="volume-scrubber" class="scrubber volume-scrubber">
				<div id="scrub-bar" class="scrub-bar">
					<div id="scrub-bar-progress" class="scrub-bar-progress"></div>
				</div>
				<div id="scrub-head" class="scrub-head"></div>
				<div id="scrub-end" class="scrub-end"></div>
			</div>
		</div>
	</header>
	<aside>
		<h1>Playlists</h1>
		<ul id="playlists" class="playlists">
		</ul>
		<h2>Queue (4)</h2>
		<ul id="queue" class="queue">
			<!--
			<li class="playing">Orbital - Impact (The World is Burning)</li>
			<li class="playing-next">Underworld - Cups</li>
			<li>Underworld - Push Upstairs</li>
			<li>Orbita - Lush 3.2</li>-->
		</ul>
	</aside>
	<section id="library" class="library">
		<input type="text" id="search" class="search"></div>
		<div id="settings-button" class="settings-button" role="button"></div>
		<table id="library-heading" class="library-heading">
			<thead>
				<tr>
					<th>Artist</th>
					<th>Album</th>
					<th>Song</th>
					<th>#</th>
					<th>Time</th>
					<th>Genre</th>
				</tr>
			</thead>
		</table>
		
		<section id="song-listing" class="song-listing">
			<div id="library-table-scroll" class="library-table-scroll"></div>
		</section>
		<table id="library-table" class="library-table"></table>
	</section>
</body>
</html>